* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #000;
}
:root {
  --color-primario: #0f172a; /* El azul noche de tu sidebar */
  --color-acento: #d4af37; /* El dorado premium */
  --color-borde: #e2e8f0;
  --color-blanco: #f1f5f9;
}
